﻿@model IEnumerable<projekt_kainos.Models.Capital>
@using System.ServiceModel.Dispatcher

@{
    ViewBag.Title = "Fundusz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var model = @Html.Raw(Json.Encode(Model));
</script>

<body >
<div class="container">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-4 col-md-offset-5 row">

        </div>
    </div>
    <div class="row" style="margin-top: 15px">
        @using (Html.BeginForm("CuttedIndex", "Capitals", FormMethod.Post))
        {
            <div class="col-md-5">
                <span>Start Date</span>
                <input type="date" class="datepicker form-control" name="startDate" value="2015-11-11"/>
            </div>
            <div class="col-md-5">
                <span>End Date</span>
                <input id="endDate" type="date" class="datepicker form-control" name="endDate" value="2016-01-01" />
            </div>
            <div class="col-md-2" style="margin-top: 20px">
               
                <input type="submit" class="btn btn-default" name="SubmitDate" value="Go"/>
            </div>
        }
    </div>
</div>
<div class="row" style="height: 600px; margin-top: 20px">



    <div class="col-md-3" style="overflow: auto; height: 800px">
        <table class="table table-fixed" >
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Value)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>

                </tr>
            }

        </table>
    </div>
    <div class="col-md-9">
        <div id="myChart" data-model="@Model">

        </div>
    </div>
</div>

</body>

    <div class="row" style="visibility: hidden">
        @using (Html.BeginForm("Index", "Capitals", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            <fieldset>
                <div class="col-md-1" style="text-align: center;">
                    @Html.Label("Plik")
                </div>
                <div class="col-md-4">
                    <input type="file" class="input-group" name="file" />
                </div>
                <div class="col-md-1">
                    <input type="submit" class="btn btn-default" name="Send" />
                </div>
            </fieldset>
        }
    </div>


@section scripts {
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/Scripts/Index.js"></script>
    
}
